@{
    ViewBag.Title = "Contact";
}
<h2 style="color:black">Contact Us</h2>

<body style="background-image: url('https://cdn.thecoolist.com/wp-content/uploads/2021/03/Wild-African-elephant-in-the-savannah-Serengeti-National-Park.jpg'); background-repeat: no-repeat; background-size: cover">
    <div style="background-color:lightblue; padding: 20px">
        
            <address>
                54 Venturi Cres<br />
                Hennopspark, Pretoria<br />
                <abbr title="Phone">P:</abbr>
                082 322 6814
            </address>

            <address>
                <strong>Founder & CEO:</strong>   <a href="mailto:alzar@feedachild.co.za">alzar@feedachild.co.za</a><br />
                <strong>Office Manager:</strong> <a href="mailto:sharlenet@feedachild.co.za">sharlenet@feedachild.co.za</a>
            </address>
        
    </div>
    
</body>
