@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>

<body style="background-image: url('https://cdn.thecoolist.com/wp-content/uploads/2021/03/Wild-African-elephant-in-the-savannah-Serengeti-National-Park.jpg'); background-repeat: no-repeat; background-size: cover">
    <div style="background-color:lightblue">
        <div class="jumbotron" style="background-color:darkcyan">
            <h1>Homework Assignment 4</h1>
            <p class="lead">Nikita Haskins</p>
            <p>u21512338</p>
        </div>

        <div>
            <h3 style="padding: 20px">Narratives</h3>
            <img src="~/Images/Nar1.png" class="img-responsive img-rounded center" height="1000" width="800">
            <img src="~/Images/Nar2.png" class="img-responsive img-rounded center" height="1000" width="800">
            <img src="~/Images/Nar3.png" class="img-responsive img-rounded center" height="1000" width="800">
            <img src="~/Images/Nar4.png" class="img-responsive img-rounded center" height="1000" width="800">
        </div>
        <div>
            <h3 style="padding: 20px">Class Structure Diagram</h3>
            <img src="~/Images/classDiagram.png" class="img-responsive img-rounded center" height="1000" width="1500">
        </div>
    </div>
</body>